footer#footer.footer
  .container.footer__container
    .footer__column
      h2.footer__title Company
      ul.footer__list
        li.footer__item
          a.footer__link(href='#') About
        li.footer__item
          a.footer__link(href='#') Press
        li.footer__item
          a.footer__link(href='#') Blog
        li.footer__item
          a.footer__link(href='#') Careers
        li.footer__item
          a.footer__link(href='#') Security
        li.footer__item
          a.footer__link(href='#') Driver Centre
    .footer__column
      h2.footer__title Information
      ul.footer__list
        li.footer__item
          a.footer__link(href='#') Our Story
        li.footer__item
          a.footer__link(href='#') Recipes
        li.footer__item
          a.footer__link(href='#') Nutrition
        li.footer__item
          a.footer__link(href='#') Resources
        li.footer__item
          a.footer__link(href='#') Newsletter
        li.footer__item
          a.footer__link(href='#') Contact
    .footer__column
      h2.footer__title Information
      ul.footer__list
        li.footer__item
          a.footer__link(href='#') Customer service
        li.footer__item
          a.footer__link(href='#') Recommend a restaurant
        li.footer__item
          a.footer__link(href='#') Signup a restaurant
        li.footer__item
          a.footer__link(href='#') Jobs
        li.footer__item
          a.footer__link(href='#') Press
        li.footer__item
          a.footer__link(href='#') Terms of use
    .footer__column
      h2.footer__title Subscribe Now
      form.subs-form(action='#')
        input(type='hidden' name='admin_email[]' value='admin@gmail.com')
        input(type='hidden' name='form_subject' value='Заявка на подписку Mitravel')
        input.subs-form__field(type='email' name='email' data-validate-field='email' placeholder='Your email')
        button.btn-reset.btn.subs-form__btn Subscribe Now
.footer-bottom
  .container.footer-bottom__container
    p.footer-bottom__copy
      | &copy; 2020 Mass Impressions. Designed by 
      a(href='#') Tran Mau Tri Tam
      |  for Mass Impressions. Developed by 
      a(href='https://tsybulskayalena.github.io/') Olena Tsybulska
      | . All rights
      |       reserved.
    ul.footer-bottom__links
      li.footer-bottom__links-item
        a.footer-bottom__link(href='#') Terms of Service
      li.footer-bottom__links-item
        a.footer-bottom__link(href='#') Privacy Policy