header.header
  .container.header__container
    ul.header__social.social
      li.social__item
        a.social__link.social__link--fb(href='#' aria-label='Go to Facebook')  
      li.social__item
        a.social__link.social__link--tw(href='#' aria-label='Go to Twitter')
    a.header__logo.logo(href='#') Mitravel
    button.header__burger.burger.btn-reset(aria-label='Open menu')
      span.burger__line
      span.burger__line