section#inspiration.inspiration
  .container
    h2.section-title.section-title--center Inspirations
    p.inspiration__descr
      | The state of Utah in the United States is home to lots of beautiful National Parks, Bryce Canyon National Park ranks as three of the most magnificent and awe inspiring
    ul.inspiration__list
      li.inspiration__item.inspiration__item--big.inspiration__item--1
        .inspiration__text
          a.inspiration__category(href='#') Destinations
          h3.inspiration__title
            a(href='#') A Guide To Rocky Mountain Vacations
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
      li.inspiration__item.inspiration__item--2
        button.btn-reset.inspiration__play(aria-label='Play video')
        .inspiration__text
          a.inspiration__category(href='#') Destinations
          h3.inspiration__title
            a(href='#') Traveling To Barcelona
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')
      li.inspiration__item.inspiration__item--bigheight.inspiration__item--3
        .inspiration__text
          a.inspiration__category(href='#') Destinations
          h3.inspiration__title
            a(href='#') Party Jokes Startling But Unnecessary
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')
      li.inspiration__item.inspiration__item--bigheight.inspiration__item--4
        .inspiration__text
          a.inspiration__category(href='#') Destinations
          h3.inspiration__title
            a(href='#') Maui By Air The Best Way Around The Island
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')
      li.inspiration__item.inspiration__item--bigheight.inspiration__item--5
        .inspiration__text
          a.inspiration__category(href='#') Andre Gide
          h3.inspiration__title
            a(href='#')
              | Man cannot discover new oceans unless he has the courage to lose sight of the shore
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')
      li.inspiration__item.inspiration__item--6
        button.btn-reset.inspiration__play(aria-label='Play video')
        .inspiration__text
          a.inspiration__category(href='#') Destinations
          h3.inspiration__title
            a(href='#') Traveling To Barcelona
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')
      li.inspiration__item.inspiration__item--big.inspiration__item--7
        .inspiration__text
          a.inspiration__category(href='#') Destinations
          h3.inspiration__title
            a(href='#') A Guide To Rocky Mountain Vacations
          ul.inspiration__people
            li.inspiration__people-item
              img(src='/assets/img/avatar-1.jpg' alt='person')
            li.inspiration__people-item
              img(src='/assets/img/avatar-2.jpg' alt='person')