.menu
  button.menu__close.btn-reset(aria-label='close menu')
    span.menu__close-line
    span.menu__close-line
  nav.menu__nav
    ul.menu__list
      li.menu__item
        a.menu__link(href='#become') Become
      li.menu__item
        a.menu__link(href='#featured') Featured Stories
      li.menu__item
        a.menu__link(href='#featured-videos') Featured Videos
      li.menu__item
        a.menu__link(href='#newsletter') Newsletter
      li.menu__item
        a.menu__link(href='#inspiration') Inspirations
      li.menu__item
        a.menu__link(href='#footer') Contacts