html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: $font-family1;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1626px;
  padding: 0 30px;
  margin: 0 auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.section-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: $dark;
  &--center {
    text-align: center;
    max-width: none;
  }
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.btn {
  padding: 33px 80px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-transform: uppercase;
  border-radius: 8px;
  color: $white;
  background-color: $neptune;
  transition: background-color $transition;
  &:hover {
    background-color: $neptune-hover;
    transition: background-color $transition;
  }
}
