$background-color: #ffffff;
$white: #ffffff;
$black: #000000;
$accent: #e8594e;
$accent-hover: #bf463d;
$dark: #1c2e3d;
$neptune: #73afba;
$neptune-hover: #54848c;

$font-family1: "SFProDisplay", sans-serif;
$font-family2: "SFCompactText", sans-serif;

$transition: 0.3s ease-in-out;
