extends extends/layout

block content
  .wrapper
    include include/preloader-backtop.pug
    main.main
      include include/menu.pug
      include include/first.pug
      include include/become.pug
      include include/featured.pug
      include include/featured-videos.pug
      include include/newsletter.pug
      include include/inspiration.pug
        