doctype html
html(lang="en")
  head
    include components/head.pug
  body
    .wrapper
      include components/preloader-backtop.pug
      include components/header.pug
      main.main
        include components/menu.pug
        include components/first.pug
        include components/become.pug
        include components/featured.pug
        include components/featured-videos.pug
        include components/newsletter.pug
        include components/inspiration.pug
        include components/footer.pug
        