.become {
  padding-top: 150px;
  padding-bottom: 120px;
  // .become__title
  &__title {
    max-width: 50%;
  }
  // .become__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
  }
  // .become__item
  &__item {
    position: relative;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 4px;
    font-size: 0;
    overflow: hidden;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $neptune;
      opacity: 0;
      transition: opacity $transition;
    }
    &:hover::before {
      opacity: 0.9;
      transition: opacity $transition;
    }
    &:hover .become__text {
      transform: translateY(0);
      transition: transform $transition;
    }
  }
  // .become__img
  &__img {
    max-height: 100%;
    object-fit: cover;
  }
  // .become__text
  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 54px;
    padding-bottom: 64px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: $white;
    transform: translateY(300px);
    transition: transform $transition;
  }
}
