.first {
  height: 100vh;
  min-height: 660px;
  background-image: url("/assets/img/first-bg.jpg");
  @include bg;
  color: $white;
  // .first__container
  &__container {
    position: relative;
    padding-top: 223px;
    padding-bottom: 200px;
    height: 100%;
  }
  // .first__link
  &__link {
    display: inline-block;
    margin-bottom: 42px;
    padding: 15px 30px;
    background-color: rgba(28, 46, 61, 0.4);
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 2px;
    border-radius: 100px;
    text-transform: uppercase;
  }
  // .first__title
  &__title {
    max-width: 40%;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 80px;
    line-height: 84px;
  }
  // .first__descr
  &__descr {
    max-width: 32%;
    margin-bottom: 58px;
    font-family: $font-family2;
    font-size: 14px;
    line-height: 17px;
  }
  // .first__btn
  &__btn {
    position: relative;
    z-index: 5;
    background-color: $accent;
    &:hover {
      background-color: $accent-hover;
    }
  }
  // .first__bottom
  &__bottom {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% - 60px);
  }
}

.search-form {
  flex-shrink: 0;
  width: 68%;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  // .search-form__field
  &__field {
    width: 100%;
    height: 120px;
    padding-left: 55px;
    padding-right: 90px;
    border: none;
    background-color: #ffffff;
    color: $dark;
  }
  // .search-form__button
  &__button {
    position: absolute;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("/assets/icons/sprite.svg#search");
    @include bg;
  }
}

.main-slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  // .main-slider__media
  &__media {
    max-height: 275px;
    position: relative;
  }
  // .main-slider__text
  &__text {
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $neptune;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.18182px;
    color: $white;
  }
  // .main-slider__play
  &__play {
    //display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 41px;
    z-index: 50;
    background-image: url("/assets/icons/sprite.svg#play-2");
    @include bg;
    opacity: 1;
  }
}

.play {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.first {
  // .first__slider-btn
  &__slider-btn {
    position: absolute;
    left: 50px;
    bottom: 53px;
    width: 14px;
    height: 14px;
    z-index: 50;
  }
}

.btn-left {
  background-image: url("/assets/icons/sprite.svg#arrow-left");
  @include bg;
}
.btn-right {
  left: auto;
  right: 50px;
  background-image: url("/assets/icons/sprite.svg#arrow-right");
  @include bg;
}
