.footer {
  padding-top: 123px;
  border-top: 1px solid #d9d9d9;
  // .footer__container
  &__container {
    display: flex;
    justify-content: space-between;
  }
  // .footer__title
  &__title {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #100e0b;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 48px;
      height: 1px;
      background-color: $neptune;
    }
  }
  // .footer__link
  &__link {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 13px;
    color: #959ea6;
    transition: color $transition;
    &:hover {
      color: #666e75;
      transition: color $transition;
    }
  }
  // .footer-bottom__copy
  &-bottom__copy a {
    color: $accent;
  }
}

.subs-form {
  width: 368px;
  // .subs-form__field
  &__field {
    width: 100%;
    height: 64px;
    padding-left: 31px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    background-image: url("/assets/icons/sprite.svg#user");
    background-position: calc(100% - 31px) center;
    background-repeat: no-repeat;
    background-size: 8%;
  }
  // .subs-form__btn
  &__btn {
    width: 100%;
    height: 64px;
    padding: 0;
    margin-top: 16px;
  }
}

.footer-bottom {
  margin-top: 117px;
  padding: 30px 0;
  border-top: 1px solid #d9d9d9;
  font-size: 13px;
  color: #959ea6;
  // .footer-bottom__container
  &__container {
    display: flex;
    justify-content: space-between;
  }
  // .footer-bottom__links
  &__links {
    display: flex;
  }
  // .footer-bottom__links-item
  &__links-item {
    margin-left: 35px;
  }
}
