section#become.become
  .container
    h2.section-title.become__title Become A Travel Pro In One Easy Lesson
    ul.become__list
      li.become__item
        img.become__img(src='/assets/img/become-1.jpg' alt='travel image')
        .become__text
          | Vacation Home 
          br
          | Rental Success
      li.become__item
        img.become__img(src='/assets/img/become-2.jpg' alt='travel image')
        .become__text
          | Vacation Home 
          br
          | Rental Success
      li.become__item
        img.become__img(src='/assets/img/become-3.jpg' alt='travel image')
        .become__text
          | Vacation Home 
          br
          | Rental Success
      li.become__item
        img.become__img(src='/assets/img/become-4.jpg' alt='travel image')
        .become__text
          | Vacation Home 
          br
          | Rental Success