section#featured-videos.featured-videos
  .container.featured-videos__container
    h2.featured-videos__title.section-title.section-title--center Featured Videos
    p.featured-videos__descr The state of Utah in the United States is home to lots of beautiful National Parks, Bryce Canyon National Park ranks as three of the most magnificent and awe inspiring
  .slider-container
    .swiper-wrapper
      .swiper-slide.slide-1
        button.btn-reset.slide-play
        h3.slide-title A Guide To Rocky Mountain Vacations
      .swiper-slide.slide-2
        h3.slide-title A Guide To Rocky Mountain Vacations
      .swiper-slide.slide-3
        h3.slide-title A Guide To Rocky Mountain Vacations