section#featured.featured
  .container.featured__container
    article.featured__article.blog-article
      a.blog-article__category(href='#') Featured
      h3.blog-article__title How To Fly A Private Jet On Your Next Trip
      p.blog-article__descr The state of Utah in the United States is home to lots of beautiful National Parks, Bryce Canyon National Park ranks as three of the most magnificent and awe inspiring
      a.blog-article__link.btn(href='#') Read Article
  .featured__stories
    h2.featured__title Featured Stories
    ul.featured__list.featured-list
      li.featured-list__item
        article.featured-list__article
          .featured-list__image
            img(src='/assets/img/ava-1.jpg' alt='avatar')
          .featured-list__text
            h3.featured-list__title
              a(href='#') Do A Sporting Stag Do In Birmingham
            time.featured-list__date(datetime='2020-05-11 20:00:00') 11 May 2020
      li.featured-list__item
        article.featured-list__article
          .featured-list__image
            img(src='/assets/img/ava-2.jpg' alt='avatar')
          .featured-list__text
            h3.featured-list__title
              a(href='#') From Wetlands To Canals And Dams Amsterdam Is Alive
            time.featured-list__date(datetime='2020-05-11 20:00:00') 11 May 2020
      li.featured-list__item
        article.featured-list__article
          .featured-list__image
            img(src='/assets/img/ava-3.jpg' alt='avatar')
          .featured-list__text
            h3.featured-list__title
              a(href='#') Stu Unger Rise And Fall Of A Poker Genius
            time.featured-list__date(datetime='2020-05-11 20:00:00') 11 May 2020
      li.featured-list__item
        article.featured-list__article
          .featured-list__image
            img(src='/assets/img/ava-4.jpg' alt='avatar')
          .featured-list__text
            h3.featured-list__title
              a(href='#') New Ideas For A Low Cost Vacation On Water
            time.featured-list__date(datetime='2020-05-11 20:00:00') 11 May 2020